# Node.js dependencies
node_modules/
.pnpm/

# Build directories
dist/
dist-ssr/
*.tsbuildinfo

# Files de configuración
.env          # Si usas .env para variables de entorno en Render, quita este comentario
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor config
.vscode/*
!.vscode/extensions.json
.idea

# Archivos de sistema
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Otros archivos generados que no necesitan ser subidos
*.local
